.icon-AdminZxCommentTab::before{
    content: "\f075";
}
#subtab-AdminZxCommentTab i:not(.sub-tabs-arrow){
    width: 19px;
    overflow: hidden;
}
#subtab-AdminZxCommentTab i:not(.sub-tabs-arrow)::after{
    content: "comment" !important;
    color: #fff;
}