/**
 * ZXCOMMENT MODULE
 * 
 * @version 1.1.0
 * @author Reza.Ahmadi : Reza.zx@live.com
 * @copyright 2016-2022 MRZX.ir
 * @link https://MRZX.ir
 * 
 */

.zxCommentContainer{
    margin: 10px 0;
    box-sizing: border-box;
}
.zxCommentContainer *,.zxCommentContainer *::before,.zxCommentContainer *::after{
    box-sizing: border-box;
}
.zxCommentContainer .zxc_commnetForm{
    display: flex;
    flex-direction: column;
}

.zxCommentContainer .row{
    display: flex;
    flex-wrap: wrap;
}

.zxCommentContainer .blocktitle{padding: 10px 0;}
.zxc_commnetForm input:not(input[type=submit]),
.zxc_commnetForm textarea
{
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    resize: none;
}
.zxc_commnetForm input[type=submit]{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.zxc_message p{font-size: 14pt;}
.zxc_message small{
    font-size: 11pt;
    display: flex;
    font-weight: 300;
    line-height: 1.6em;
}
.zxc_message .error{
    color: #f00;
}
.zxc_message .success{
    color: #0ecc00;
}

.zxc_comments{
    display: flex;
    flex-direction: column;
}

.zxc_comments .zxc_comment{
    width: 100%;
    padding: 15px;
    border: 2px solid #e1e1e1;
    border-radius: 10px;
    margin-bottom: 10px;
    background: white;
}

.zxc_comment .zxc_info{
    display: flex;
    align-items: center;
}

.zxc_info .zxc_name{
    font-size: 13pt;
    font-weight: 600;
}

.zxc_info .zxc_date{
    font-size: 10pt;
    margin: 0 15px;
}

.zxc_comment .zxc_content{
    margin-top: 10px;
}

.zxc_stars{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.zxc_commnetForm .startext{margin-left: 10px;}
.zxc_stars .star{
    background: url(./star.svg) no-repeat;
    width: 35px;
    height: 35px;
    background-size: 90%;
    padding: 2px;
}
.zxc_stars .star.fill{
    background-image: url(./star-fill.svg);
}
.zxc_comment .zxc_info .star{
    width: 20px;
    height: 20px;
}
.zxc_commnetForm .star{
    cursor: pointer;
}

.zxBComments {
    display: flex;
    width: 1200px;
    justify-content: center;
    padding: 40px 20px;
    max-width: 100%;
    flex-wrap: wrap;
    margin: auto;
    direction: rtl;
    flex-direction: row-reverse;
    font-size: 12pt;
    font-weight: normal;
}
.zxBComments > header{
    width: 60%;
    display: flex;
    justify-content: center;
    position: relative !important;
    align-items: flex-start;
}
.zxBComments > header > a{
    position: absolute;
    left: 77px;
    top: 30px;
}
.zxBComments > header > a img{
    width: 160px;
}
.zxBComments > form{
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}
.zxBComments > header img{
    max-width: 100%;

}

.zxc_commnetForm input[type=submit]{
    background: #782776;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.zxCommentBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 13pt;
}
@media screen and (max-width:1000px) {
    .zxBComments > header > a {
        position: absolute;
        left: 25px;
        top: 15px;
      }
}
@media screen and (max-width:768px) {
    .zxc_comment .zxc_info{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .zxc_info .zxc_name {
        width: 100%;
    }
    .zxc_info .zxc_date {
        margin: 0;
        width: 50%;
      }
    .zxc_info .zxc_grade{
        width: 50%;
    }
    .zxBComments{
        padding: 0;
    }
    .zxBComments > header{
        width: 85%;
    }
    
    .zxBComments > form{
        width: 100%;
    }

    .zxBComments > header > a {
        position: absolute;
        left: 15px;
        top: 12px;
    }
    .zxBComments > header > a img {
        width: auto;
        max-width: 90px;
    }
}